



/* lg  */
@media only screen and (max-width: 1200px){
    
.hero-text-box {
    width: 100%;
    padding: 0 2%;
    }
    .row {
        padding: 0 2%;}
    .plan-box {width: 100%; margin-left: 0%;}
}
/* md ipad  */
@media only screen and (max-width: 1023px){
    body {font-size: 18px;}
    section {padding: 60px 0;}     
    .main-nav li {font-size: 140%;
    padding-top: 0.5rem;}
.long-copy {width: 80%;
    margin-left: 10%;}
    .icon-big {margin-left: 20px;}
    .steps-box {margin-top: 10px;}
    .works-steps {margin-bottom: 40px; }
    .works-step:last-of-type {
    margin-bottom: 60px;}
    .app-screen { width: 50% }
    .plan-box {width: 90%; margin-left: 0%;}
    .plan-price {font-size: 250%;}
    .btn {
        margin-right: 0.8rem;
    }
    
}
/* sm  */
@media only screen and (max-width: 767px){
    body {font-size: 16px;}
    section {padding: 30px 0;}
    .row, .hero-text-box {padding: 0 4%;}
    .plan-box {width: 100%; margin-left: 0%;}
    .col {width: 100%; margin: 0% 0 4% 0%}
    .main-nav li {font-size: 120%;
    padding-top: 0.5rem;}
    h1 {font-size: 150%;
    padding-bottom: 2rem}
    .btn {
        margin-right: 0.8rem;
    }
    h2 {font-size: 120%}
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .app-screen { width: 40% }
    .steps-box {text-align: center;}
    .icon-big {text-align: center;
    padding: 10px 0;
    margin-left: 5px;}
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
    }
    .works-step {margin-bottom: 20px;    }
    .work-step:last-child {margin-bottom: 20px;}
    
}
/* xm Iphone old */
@media only screen and (max-width: 480px){
    section {padding: 25px 0;}
    
}